@tailwind base;
@tailwind components;
@tailwind utilities;

a {
    text-decoration: none;
    white-space: nowrap;
    color: #121314;
    position: relative;
}

a::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 66%;
    left: -0.1em;
    right: -0.1em;
    bottom: 0;
    background-color: rgba(79, 192, 141, 0.5);
}

a:hover::after {
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0, 0.8, 0.13, 1);
    transition-property: top;
    top: 0%
}